- name: ensure java is at the latest version
  apt: name=default-jre state=latest
  become: yes
  tags: programs
- name: create app "{{ apppath }}" directory
  file:
    path: "{{ apppath }}"
    state: directory
  tags: structure
  become: yes
- name: fetch the app container to temp folder from source
  get_url:
    url: "{{ appsource }}"
    dest: "{{ apppath }}/{{ apptarget }}"
  become: yes
  tags: app
- name: copy files to root of webservice
  copy:
    source: "./{{ item }}"
    dest: "{{ apppath }}"
  with_items:
    ["start.sh","log4j.xml"]
  tags: app
- name: copy 'webservices.service' to '/etc/systemd/system/'
  copy:
    src: webservices.service
    dest: /etc/systemd/system/
  tags: app
- name: Start webservices as service
  service:
    name: webservices
    state: restarted
  become: yes
  tags: app